<h1>Horaires et Activites du Reseau</h1>
<h3>Horaires</h3>




<h3><%=link_to "Rechercher le nom de votre arret", horaires_trio_path%></h3>
<%=@ff%>
<%= link_to "Redirecte moi",  trios_index_path, data: {confirm: 'Hatta Boy !!'}%>
